
<div >
    <h1 id="post-title">{{curPost.title}} </h1>
    <h4>Posted by {{curPost.user.username}} on {{format_date curPost.created_at}}</h4>
    <div class="container">
        <p id="post-body">{{curPost.content}}</p>
    </div>
    {{#if currentUser}}
        <div style = "visibility: hidden;" id = "postid">{{curPost.id}}</div>
        <a href = "/edit/{{curPost.id}}" id="edit-btn"><button>Edit</button></a>
        <button id="delete-btn">Delete</button>
        
    {{/if}}
</div>

{{#if loggedIn}}
<div>
    <div style= "visibility: hidden;" id = "uid">{{curUserID}}</div>
    <div style= "visibility: hidden;" id = "pid">{{curPost.id}}</div>
    <form id="comment-form">
        <label for="comment-text">Leave A Comment</label>
        <input type="textarea" id="comment-text">
        <button type="submit" id="post-comment-btn">Post!</button>
    </form>
</div>

{{/if}}

{{#each curPost.comments as |comment|}}
{{> comment comment}}
{{/each}}
<script src="/js/delete-post.js"></script>
<script src= "/js/add-comment.js"></script>

{{!-- link single post js with comment features--}}

